@import url('https://fonts.googleapis.com/css?family=Roboto:700,900|Source+Sans+Pro:400,600,700');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue-1000: #003E6B;
  --blue-900: #0A558C;
  --blue-800: #0F609B;
  --blue-700: #186FAF;
  --blue-600: #2680C2;
  --blue-500: #4098D7;
  --blue-400: #62B0E8;
  --blue-300: #84C5F4;
  --blue-200: #B6E0FE;
  --blue-100: #DCEEFB;

  --yellow-1000: #8D2B0B;
  --yellow-900: #B44D12;
  --yellow-800: #CB6E17;
  --yellow-700: #DE911D;
  --yellow-600: #F0B429;
  --yellow-500: #F7C948;
  --yellow-400: #FADB5F;
  --yellow-300: #FCE588;
  --yellow-200: #FFF3C4;
  --yellow-100: #FFFBEA;

  --neutral-1000: #102A43;
  --neutral-900: #243B53;
  --neutral-800: #334E68;
  --neutral-700: #486581;
  --neutral-600: #627D98;
  --neutral-500: #829AB1;
  --neutral-400: #9FB3C8;
  --neutral-300: #BCCCDC;
  --neutral-200: #D9E2EC;
  --neutral-100: #F0F4F8;

  --teal-1000: #044E54;
  --teal-900: #0A6C74;
  --teal-800: #0E7C86;
  --teal-700: #14919B;
  --teal-600: #2CB1BC;
  --teal-500: #38BEC9;
  --teal-400: #54D1DB;
  --teal-300: #87EAF2;
  --teal-200: #BEF8FD;
  --teal-100: #E0FCFF;

  --red-1000: #610404;
  --red-900: #780A0A;
  --red-800: #911111;
  --red-700: #A61B1B;
  --red-600: #BA2525;
  --red-500: #D64545;
  --red-300: #E66A6A;
  --red-400: #F29B9B;
  --red-200: #FACDCD;
  --red-100: #FFEEEE;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  height: 100vh;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, var(--blue-500), var(--blue-1000));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: var(--neutral-100);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100vh;
}

#brand {
  margin-top: 1rem;

  color: var(--neutral-100);
  font-size: 5.5rem;
}

#tagline {
  color: var(--neutral-100);
  font-size: 1.5rem;
}

.map-container {
  margin-top: 1rem;

  border: 2px solid var(--blue-1000);
  width: 140vh;
  height: 55vh;

  display: flex;
  justify-content: center;
  align-content: center;

  margin-bottom: 2rem;
}

.form-map {
  margin-top: 1rem;

  border: 2px solid var(--blue-1000);
  width: 100%;
  height: 40vh;
  /* min-height: 40vh; */

  display: flex;
  justify-content: center;
  align-content: center;

  margin-bottom: 2rem;
}

.card-page-map {
  min-height: 50vh;
}

#main-button-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.main-button {
  text-decoration: none;
  text-align: center;
  width: 20%;
  margin: 0rem 2rem;

  border: 2px solid var(--neutral-100);
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--neutral-100);
  border-radius: 10px;
  overflow: hidden;

  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

.main-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--neutral-100);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
  color: var(--blue-1000);
  cursor: pointer;
}

.main-button:hover::before,
.main-button:active::before,
.main-button:focus::before {
  transform: scaleX(1);
}

#header {
  margin-top: .5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header-link {
  font-size: 1.2rem;
  margin: .5rem 1.5rem 0rem 0rem;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none;
}

.header-link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-link:visited {
  color: var(--neutral-100);
}

.leaflet-popup-content {
  color: var(--blue-1000)
}

.leaflet-popup-content h2 {
  color: var(--neutral-500)
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;

  margin-bottom: .5rem;
}

.leaflet-container {
  width: 100%;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.4);
}

.card-story {
  border: 2px solid var(--yellow-500);
  background-color: rgba(240, 244, 248, 0.15);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.4);

  width: 140vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: .5rem 1rem 1rem 1rem;
}

.card-story-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: .5rem;
}

.card-story-content {
  text-align: left;
}

#formContainer {
  margin-top: 2rem;
  background-color: var(--neutral-100);
  width: 45rem;
  box-shadow: 6px 6px 20px rgba(56, 56, 56, 0.2);
  border-radius: 20px;
  padding: 2rem 4rem;
}

#formHeader {
  color: var(--blue-800);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.fieldset {
  border: none;
}

.styledSubmit {
  margin-top: 2rem;

  background-color: var(--blue-500);
  border: none;
  border-radius: 0px;
  color: var(--neutral-100);
  padding: 1rem 3rem;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.15s all ease-in;
}

.styledSubmit:hover {
  cursor: pointer;
  background: var(--blue-800);
  outline: none;
}

label {
  display: block;
  color: var(--blue-500);
  font-size: 1.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  margin: .5rem 0 1.5rem;
  color: var(--neutral-500);
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

input:active {
  outline: 3px solid var(--blue-500)
}

input:invalid {
  box-shadow: none;
  outline: 3px solid var(--red-500)
}

textarea {
  display: block;
  width: 100%;
  margin: .5rem 0 1rem;
  color: var(--neutral-500);
  font-size: 1rem;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  padding: 1rem 2rem;
  border: 0;
  height: 16rem;
  resize: none;
}

/* input.glass {
  background-color: var(--neutral-200);
  color: var(--blue-1000);
  display: block;
  width: 100%;
  margin: .5rem 0 1.5rem;
  color: var(--neutral-500);
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.leaflet-top {
  width: 100%;
}

.leaflet-control-geosearch {
  background-color: var(--neutral-300);
  width: 97%;
}

a.leaflet-bar-part.leaflet-bar-part-single {
  display: hidden;
}

.results {
  color: var(--blue-800);
  overflow-y: scroll;
} */